@page "/advanced/power"
@using Calcool6.Application

<Title Text="Title" />
<MudPaper Class="d-flex align-center pa-4 mt-1">
    <div class="mx-3">
        <MudTextField Label="Input 1" Variant="Variant.Outlined" @bind-Value="input1"></MudTextField>
    </div>
    <div class="mx-3">
        <MudText Typo="Typo.h3">^</MudText>
    </div>
    <div class="mx-3">
        <MudTextField Label="Input 2" Variant="Variant.Outlined" @bind-Value="input2"></MudTextField>
    </div>
    <div class="mx-3">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Calculate">
            =
        </MudButton>
    </div>
    <div class="mx-3">
        <MudText Typo="Typo.h3">@result</MudText>
    </div>
</MudPaper>

@code {
    int input1;
    int input2;
    double result;

    void Calculate()
    {
        try
        {
            result = AdvancedCalculation.Power(input1, input2);
        }
        catch (Exception ex)
        {
            _snackbar.Add(ex.Message);
        }
    }
}
