<MudPaper Width="250px" Elevation="0">
    <div class="px-2" style="background-color: #f1f1f1;">
        <img src="img/zeta.png" alt="Zeta" height="64" />
    </div>
    <MudNavMenu>
        <MudDivider />
        <MudNavLink Href="" Match="NavLinkMatch.All">Home</MudNavLink>
        <MudNavGroup Title="Simple" Expanded="true">
            <MudNavLink Href="simple/addition">Addition</MudNavLink>
            <MudNavLink Href="simple/subtraction">Subtraction</MudNavLink>
            <MudNavLink Href="simple/multiplication">Multiplication</MudNavLink>
            <MudNavLink Href="simple/division">Division</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Advanced" Expanded="true">
            <MudNavLink Href="advanced/power">Power</MudNavLink>
            <MudNavLink Href="advanced/remainder">Remainder</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudPaper>
